@charset "utf-8";

* {
   font-family:arial, helvetica,sans-serif
    height: 100%;

}

body{
    background-image: linear-gradient(to right, #002333, #159A9C,#DEEFE7);
}

main{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.439);;
    width: 600px;
    padding:10px;
    margin: auto;
}
h1{
    color:#002333;
    text-align: center;
    text-shadow: 1px 1px 2px #011f2cdc ;
}
h2{
    color: #159A9C;
}
p{
  text-align:justify ;
}